<mat-sidenav-container class="sidenav-container" fxFlex fullscreen (backdropClick)="closeSidenav()">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" (keydown.escape)="closeSidenav()" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="menuToggle(isHandset$ | async)">
    <mat-nav-list>
      <h3 matSubheader>Navigate</h3>
      <a mat-list-item routerLink="/calendar-generator">
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <h4 mat-line>Calendar</h4>
      </a>
      <a mat-list-item routerLink="/about">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <h4 mat-line>About</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>