<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSideNav()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
  <span>Calendar Generator</span>
</mat-toolbar>
<div fxLayoutAlign.xs="start" fxLayoutAlign.sm="start" fxLayoutAlign="center center" fxLayout="column" fxLayout.sm="column"
  fxLayout.xs="column" fxLayoutGap="16px">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Create a calendar</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-top:16px">
      <form [formGroup]="calendarForm" class="calendar-form">
        <ol>
          <li>
            <mat-form-field class="form-field">
              <input matInput placeholder="Enter Country Code" aria-label="Enter Country Code" [matAutocomplete]="auto" formControlName="countryCode">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.code">
                  <small>{{ country.name }}</small> |
                  <small>Code: {{country.code}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field class="form-field">
              <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Choose a start date">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field class="form-field">
              <input matInput type="number" formControlName="numberOfDays" placeholder="Choose a number of days">
            </mat-form-field>
          </li>
        </ol>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" [disabled]="!calendarForm.valid" (click)="generate()">Generate!</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
  <div id="calendar-view" style="height: 632px; width: 332px; overflow-y: scroll; margin:16px;overflow-x:hidden;" *ngIf="calendars.length > 0">
        <div fxLayout="column" id="years" *ngFor="let calendar of calendars"> 
        <div id="month" style="width:300px;border: 1px solid black; margin-top:16px;" *ngFor="let month of calendar.months">
          <div class="month">      
              <ul>
                <li>
                  {{month.month}}<br>
                  <span style="font-size:18px">{{month.year}}</span>
                </li>
              </ul>
            </div>
            
            <ul class="weekdays">
              <li>Su</li>
              <li>Mo</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
            </ul>
            
            <ul class="days" >
              <li *ngFor="let day of month.daysInMonth" [ngStyle]="getBackgroundColor(day)">{{day.day}}</li>
            </ul>
          </div>
        </div>
  </div>


</div>