<mat-toolbar color="primary">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="openSideNav()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
  <span>Calendar Generator</span>
</mat-toolbar>
<div fxLayoutAlign.xs="start" fxLayoutAlign.sm="start" fxLayoutAlign="center center" fxLayout="row" fxLayout.sm="column"
  fxLayout.xs="column" fxLayoutGap="16px">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Create a calendar</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin-top:16px">
      <form [formGroup]="calendarForm" class="calendar-form">
        <ol>
          <li>
            <mat-form-field class="form-field">
              <input matInput placeholder="Enter Country Code" aria-label="Enter Country Code" [matAutocomplete]="auto" formControlName="countryCode">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let country of filteredCountries | async" [value]="country.code">
                  <small>{{ country.name }}</small> |
                  <small>Code: {{country.code}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field class="form-field">
              <input matInput [matDatepicker]="startDate" formControlName="startDate" placeholder="Choose a start date">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </li>
          <li>
            <mat-form-field class="form-field">
              <input matInput type="number" formControlName="numberOfDays" placeholder="Choose a number of days">
            </mat-form-field>
          </li>
        </ol>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-raised-button color="primary" [disabled]="!calendarForm.valid" (click)="generate()">Generate!</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div id="calendar-view" *ngIf="calendars.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let calendar of calendars">
          <div class="month">      
              <ul>
                <li>
                  {{calendar.month}}<br>
                  <span style="font-size:18px">2017</span>
                </li>
              </ul>
            </div>
            
            <ul class="weekdays">
              <li>Su</li>
              <li>Mo</li>
              <li>Tu</li>
              <li>We</li>
              <li>Th</li>
              <li>Fr</li>
              <li>Sa</li>
            </ul>
            
            <ul class="days">  
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
              <li>5</li>
              <li>6</li>
              <li>7</li>
              <li>8</li>
              <li>9</li>
              <li><span class="active">10</span></li>
              <li>11</li>
              <li>12</li>
              <li>13</li>
              <li>14</li>
              <li>15</li>
              <li>16</li>
              <li>17</li>
              <li>18</li>
              <li>19</li>
              <li>20</li>
              <li>21</li>
              <li>22</li>
              <li>23</li>
              <li>24</li>
              <li>25</li>
              <li>26</li>
              <li>27</li>
              <li>28</li>
              <li>29</li>
              <li>30</li>
              <li>31</li>
            </ul>
      </mat-list-item>
    </mat-list>
  </div>
</div>